.card {
    margin: 2%;
    background-color: #fff;
    border-color: #ddd;
    border-width: 1px;
    border-radius: 4px 4px 0 0;
}

/*Search*/
#page_serarch .book_image {
    /*border: #ccc solid 1px;*/
    display: inline-block;
    width: 90%;
}
#page_serarch table {
    table-layout: fixed;
}
#page_serarch th {
    text-align: center;
}